* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(195, 194, 194);
  min-height: 100vh;
  font-size: 24px;
}

h5 {
  font-size: 32px;
}

.box {
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  text-align: center;
}

.array,
.value {
  border: 1px solid lightgray;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  border-radius: 8px;
}

.array__input,
.value__input {
  padding: 4px 8px;
  font-size: 24px;
  border-radius: 8px;
  border: none;
  background-color: aliceblue;
}

.accept {
  padding: 16px 32px;
  background-color: rgb(230, 230, 229);
  border: none;
  border-radius: 8px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.accept:hover {
  background-color: rgb(213, 213, 211);
}

.result {
  text-align: center;
}
